@model IEnumerable<Honeywell.Models.ViewModels.VideoVM>
@{
    ViewData["Title"] = "Video Catalogue";
}

<div class="container-fluid my-4">
    <!-- Video Player Section -->
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <div class="video-container text-center">
                <video id="videoPlayer" class="consistent-video-size" controls>
                    <source id="videoSource" src="" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <!-- Bind the selected file name to the H3 tag -->
                <h3 class="mt-2" data-bind="text: selectedFileName">File Name</h3>
            </div>
        </div>
    </div>

    <!-- Video Playlist Section -->
    <div class="row mt-4">
        <div class="col-12">
            <h3 class="text-center">Video Playlist</h3>
        </div>
    </div>
    <div class="row" data-bind="foreach: VideoModels">
        <div class="col-12 col-md-6 col-lg-4 mb-4">
            <div class="card video-card" data-bind="css: { 'selected': $parent.selectedVideo() === $data }">
                <div class="card-body text-center">
                    <h5 class="card-title video-name" data-bind="click: () => $parent.selectVideo($data), text: fileNameWithoutExtension"></h5>
                    <p class="card-text" data-bind="text: fileSize"></p>
                    <i class="fas fa-play-circle play-icon" data-bind="click: () => $parent.selectVideo($data)"></i>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- JavaScript to handle click event and play the video -->

@section Scripts
{
    <script src="~/js/videoPlayer.js"></script>
    <script src="~/js/video.js"></script>
}