@model IEnumerable<Honeywell.Models.ViewModels.VideoVM>
@{
    ViewData["Title"] = "Video Catalogue";
}

<h2>Video List</h2>

<!-- Video Player to play the selected video -->
<div class="video-container">
    <div class="video-wrapper">
        <video id="videoPlayer" class="consistent-video-size" controls>
            <source id="videoSource" src="" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
</div>


<!-- Video list table -->
<table id="video-table" class="table table-striped" data-bind="visible: VideoModels().length > 0">
    <thead>
    <tr>
        <th style="display: none;">ID</th>
        <th>File Name</th>
        <th>File Size</th>
    </tr>
    </thead>
    <tbody data-bind="foreach: VideoModels">
    <tr data-bind="css: { 'selected': $parent.selectedVideo() === $data }">
        <td style="cursor:pointer; color:blue;" data-bind="click: () => $parent.selectVideo($data), text: fileName"></td>
        <td data-bind="text: fileSize"></td>
    </tr>
    </tbody>
</table>

<!-- JavaScript to handle click event and play the video -->

@section Scripts
{
    <script src="~/js/videoPlayer.js"></script>
    <script src="~/js/video.js"></script>
}