@{
    ViewBag.Title = "Upload Video";
    Layout = "_Layout";
}

<h2>Upload Videos</h2>

<!-- Include the loading spinner partial view -->
<div id="loading-spinner">
    @await Html.PartialAsync("_LoadingSpinner")
</div>

<form asp-action="Index" method="post" enctype="multipart/form-data" id="uploadForm">
    <div class="form-group">
        <label for="files">Choose Video Files (MP4 only)</label>
        <input type="file" class="form-control" id="files" name="files" multiple/>
    </div>
    <div class="mt-2">
        <button type="submit" class="btn btn-primary">Upload</button>
    </div>
</form>

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    </div>
}

@section Scripts {
<script>
    $(document).ready(function () {
        // Initially hide the loading spinner
        $('#loading-spinner').hide();

        // Attach a submit event to the form to show the loading spinner when uploading
        $('#uploadForm').on('submit', function (e) {
            // Show the loading spinner
            $('#loading-spinner').show();

            // Disable the submit button to prevent multiple submissions
            $(this).find('button[type=submit]').prop('disabled', true);
        });
    });
</script>
}